article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html {
  font-size: 125%;
}

body {
  font-family: 'Poppins', cursive;
  color: #112d4e;
  background-color: #f9f7f7;
}

ul {
  list-style: none;
}

h1, h2, h3, p, ul {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  display: block;
}

input, select {
  margin: 20px;
  font-size: 0.8rem;
  padding-left: 10px;
  border-radius: 10px;
  border: solid 1px #112d4e;
  margin: 10px 0;
  
}

button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 10px;
  color: inherit;
  transition: all 0.5s;
}




header {
  
  /* background-color: rgb(20, 26, 119); */
  background-color: #dbe2ef;
  margin-bottom: 40px;
  padding: 30px 0 0;
  min-height: 7vh;
  color: white;
  border-bottom: solid 5px #112d4e;
  
}

.headerMain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

nav {
  width: 100%;
  display: flex;
  color: #112d4e;
  justify-content: space-around;
}

nav button {
  position: relative;
}

button i{
  transition: all 0.5s;
  padding-left: 5px;
  
}



h1 {
  font-size: 2rem;
  position: relative;
  color: #ff4343;
  z-index: 1;
  text-decoration: #112d4e underline;
  background-color: #f9f7f7;
  /* background-image: linear-gradient(to bottom right, #f9f7f7 , #112d4e ); */
  border-radius: 20px;
  padding: 10px 25px;
  margin-bottom: 30px;
  

  font-family: 'Berkshire Swash', cursive;


}

h1:after{
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #f9f7f7 transparent transparent transparent;
  border-width: 18px 18px 0px 18px;
  right: 25px;
  top: 98%;
  bottom: -20px;
  z-index: -1;
}



main {
  background-color: #f9f7f7;
  background-image: linear-gradient(to right top, #112d4e 50%, #f9f7f7 50% );
  min-height: 88vh;
  padding-bottom: 40px;
  

}

.mainDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  text-align: center;
  padding-bottom: 30px;
}

h3 {
  padding: 20px;
  width: 60%;
  text-align: center;
}

h4 {
  color: #dbe2ef;
  text-shadow: 2px 2px #112d4e;
  text-transform: uppercase;
}

span {
  color: #ff4343;
}

em {
  text-decoration: underline #112d4e;
}

.wrapper {
  max-width: 1400px;
  width: 80%;
  margin:0 auto;
}

.App-link {
  color: #09d3ac;
}

.introduction {
  
  background-color: #f9f7f7;
  border: solid 5px #112d4e;
  z-index: 9;
  box-shadow: 0px 0px 10px #ff4343;
  padding: 50px;
}

.introduction p:first-child {
  text-align: center;
}

.introduction p {
  width: 100%;
  padding-bottom: 20px;
}

/* Auth Options */

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 530px;
  
}

.options p{
  padding-bottom: 10px;
}

.optionsButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionsButtons button {
  background-color: transparent;
  color: #112d4e;
  border: none;
  /* text-decoration: underline #ff4343; */
  position: relative;
  
}

.optionsButtons button:focus {
  border: solid 1px #112d4e;
  
}



  .optionsButtons button::after, .signIn button::after, nav button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 5%;
    background-color: #ff4343;
    border-radius: 30px;
    bottom: 10%;
    left: 17.5%;
    z-index: 8;
    transition: all 0.5s;
  }

  .optionsButtons button:disabled::after {
    width: 65%;
  }

  

  

.optionsButtons .inactive {
  opacity: 0.6;
  text-decoration: none;
  
}

/* Sign in page */

.language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language select {
  margin-left: 5px;
}

.signIn, .signUp, .guestSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-basis: 60%;
  text-align: center;
  min-height: 75vh;
  background-color: #dbe2ef;
  color: white;
  /* padding-bottom: 50px; */
  border: solid 3px #112d4e;
  border-radius: 20px;
  color: #112d4e;
  animation: appear 0.5s both 1;
  box-shadow: 0px 0px 20px #112d4e;
  padding: 20px;
  
}

.signIn {
  position: relative;
}

.signIn form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn button {
  position: relative;
}

.signIn button:focus {
  border: solid 1px #112d4e;
}


.guestSignIn p {
  width: 80%;
  padding-bottom: 15px;
}

.recoverPassword {
  animation: appear both 0.5s 1;
}

/* ChatPage */

.chatPageContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  animation: appear 0.5s both 1;
}

span.logo {
  font-family: 'Berkshire Swash', cursive;
  color: #ff4343;
  text-decoration: #112d4e underline;
  font-size: 1.2rem;
}

.listOfFriends {
  display: flex;
  flex-direction: column;
  width:25%;
  min-width: 250px;
  padding: 20px;
  background-color: #dbe2ef;
  height: 80%;
  border: solid 5px #112d4e;
  align-items: center;
  color: #112d4e;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #dbe2ef;
  transition: all 0.5s;
}

.listOfFriends ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.addFriendBar {
  padding-bottom: 20px;
  text-align: center;
  
  
}

.addFriendBar input {
  width: 80%;
}



.friendButton {
  
  display: flex;
  align-items: center;
  border: solid black 3px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  color: #112d4e;
  flex-wrap: wrap;
  min-width: 80px;
  margin-top: 10px;

}

.friendButton button {
  padding: 0;
  margin: 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.friendButton img {
  max-width: 120px;
  width: 50%;
}

.deleteButton {
  width:100%;
  font-size: 2rem;
  color: #ff4343;
  padding: 0px;
}

.messagesAndTextContainer {
  width:100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  
  
  transition: all 0.5s;
}

.messagesAndTextContainer>p  {
  text-align: center;
  color: #112d4e;
  padding-left: 30px;
  /* padding-bottom:20px */
}

.messagesAndTextContainer .message{
  text-align: start;
}

.recentMessagesDiv {
  width: 70%;
  border-radius: 20px;
  box-shadow: 0px 0px 5px #dbe2ef;
  margin-top: 20px;
  min-width: 420px;
  margin-left: 40px;
  
  
}

.chatHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #3f72af;
  padding: 10px;
  border-radius: 15px 15px 0 0;
  border: #112d4e solid 5px;

}

.chatHeader h2 {
  padding: 0;
  padding-left: 10px;
  color:#f9f7f7;
  font-size: 1.2rem;
  
}

.chatHeader img {
  width: 10%;
  border-radius: 50%;
  padding: 5px;
  min-width: 70px;
  
}

.recentMessages {
  border: solid #112d4e 4px;
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 0 0 15px 15px;
  background-color: white;
  padding: 10px;
  overflow-y: scroll;
}

.chatFormDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f7f7;
  border-radius: 20px;
  border: solid 5px #112d4e;
  margin: 20px 0;
  box-shadow: 0px 0px 5px #dbe2ef;
  margin-left: 40px;
  width: 70%;
  min-width: 420px;
  position: relative;
}

.chatForm {
  display: flex;
  width: 100%;
  min-width: 420px;
  max-height: 180px;
  justify-content: center;
  align-items: center;
  
}

.giphyDiv {
  color: #112d4e;
  transition: all 0.5s ease-in-out;
  background-color: #f9f7f7;
  border-radius: 20px;
  
  
}

.giphyDiv i {
  padding-left: 5px;
  transition: all 0.5s;
}



.giphyDiv button:enabled:focus {
  border: solid 2px #112d4e;
}

.gifSearch div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  

}

.gif {
  width: calc(100% / 3 - 20px);
  padding:0;
  margin: 0;
  
}

.gif img {
  object-fit: cover;
}



textarea {
  height: 70%;
  border: solid 2px #112d4e;
  border-radius: 15px;
  background-color: white;
  resize: none;
  width: 60%;
  padding: 10px;
  max-height: 150px;
  margin-bottom: 10px;
  
}

textarea:disabled {
  background-color: #dbe2ef;
}

.chatForm button {
  width: 25%;
  margin-left: 20px;
  
  /* border-radius: 30px; */
}

.submitButton {
  background-color: #ff4343;
  color: #f9f7f7;
  align-self: center;
}



.sent, .recieved {
  padding: 10px 20px;
  border-radius: 20px;
  max-width: 70%;
  
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
}

.sent {
align-self: flex-end;
background-color: rgb(177, 231, 177);

}

.recieved {
  align-self: flex-start;
  background-color: rgb(141, 174, 218);
 
}

.sent:after, .recieved:after{
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 18px 18px 0px 18px;
  top: 98%;
  bottom: -18px;
  z-index: -1;
}

.sent:after {
  border-color: rgb(177, 231, 177) transparent transparent transparent;
  right: 25px;
}

.recieved:after {
  border-color: rgb(141, 174, 218) transparent transparent transparent;
  left: 25px;
}

.unread {
  background-color: #ff4343;
}

.time {
  color: rgb(63, 63, 63);
  font-size: 0.8rem;
  padding-bottom: 0;
  align-items: center;
  
}

/* Settings page */

.settingsPage, .googleSignIn {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #dbe2ef;
  padding: 30px;
  border: solid 5px #112d4e;
  animation: appear both 0.5s 1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.googleSignIn {
  width: 50%;
  height: 70%;
}

.googleSignIn form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  text-align: center;

}



.settingsPage form:last-of-type {
    display: flex;
    flex-direction: column;
}

.close{
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2rem;
  color: #ff4343;

}


/* Alert message */

.alert, .introduction {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  z-index: 11;
  border: solid 5px #112d4e;
  min-height: 40vh;
  justify-content: center;
  align-items: center;
}

.alert {
  background-color: #ff4343;
  color: #f9f7f7;
  padding: 50px 30px;
  text-align: center;
}



.alert div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert div button {
  background-color: #f9f7f7;
  color: #112d4e;
  margin-top: 40px;
  font-size:1.5rem;
  
}

.alert .deny {
  color: #8a2525;
  font-size:2rem;
}

.alert .accept {
  color: rgb(21, 156, 21);
  font-size:2rem;
}

footer {
  text-align: center;
  /* background-color: rgb(27, 27, 27); */
  /* color: #4f5165; */
  background-color: #dbe2ef;
  border-top: solid 1px #112d4e;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vh;
}


/* Keyframes */

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes pulse {
  50%{
    transform: scale(1.2);
  }
}


/* media queries */

@media (hover: hover) {
    button:enabled:hover i,button:enabled:focus i{
      transform: scale(1.5);
      color: #ff4343;
    }

      .optionsButtons button:enabled:hover::after, .optionsButtons button:enabled:focus::after, .signIn button:enabled:hover::after, .signIn button:enabled:focus::after, nav button:enabled:hover::after,nav button:enabled:focus::after {
        width: 65%;
      }

    .friendButton button:enabled:hover, .friendButton button:enabled:focus {
      animation: pulse both ease-in-out 1s infinite;
      
    }

    .giphyDiv button:enabled:hover i, .giphyDiv button:enabled:focus i{
      color: #ff4343;
      transform: scale(1.5);
    }

    .gif:hover, .gif:focus {
      transform: scale(1.3);
    }

    .submitButton:enabled:hover, .submitButton:enabled:focus {
      box-shadow: 5px 5px #112d4e;
    }

    .alert button:enabled:hover, .alert button:enabled:focus {
      box-shadow: 10px 10px #112d4e;
    }
}


@media (max-width: 875px){
  .wrapper {
    width: 90%;
  }

  .options, .introduction {
    width: 85%;
    min-width: initial;
  }

  .chatPageContainer {
    flex-direction: column;
  }

  .recentMessagesDiv, .chatFormDiv {
    margin-left: 0;
  }

  .listOfFriends {
    
    width: 100%;
    order: 2;
  }

  .addFriendBar input {
    width: 60%;
  }

  .friendButton .deleteButton {
    margin-top: 10px;
    
  }

  .friendButton {
    flex-direction: column;
    max-width: calc(100% / 2 - 10px);
    padding: 10px 0;
    margin-right: 10px;
    min-width: 120px;
    z-index: 3;
  }

  .friendButton img {
    width: 100%;
    max-width: 60px;
  }

  .chatForm {
    flex-direction: column;
  }

  .gifSearch div {
    margin-bottom: 20px;
  }


  .settingsPage, .alert {
    width: 80%;
    position: fixed;
  }

  
}

@media (max-width:500px){

  .optionsButtons {
    width: 100%;
  }

  

  .optionsButtons button {
    font-size: 0.8rem;
  }

  .guestSignIn p{
    font-size: 0.8rem;
  }

  input, select {
    width: 100%;
  }

  .friendButton .deleteButton {
    font-size: 1.5rem;
  }

  

  .recentMessagesDiv, .chatFormDiv{
    width: 100%;
    min-width: initial;
  }

  .chatForm {
    min-width: initial;
  }

  .sent,.recieved {
    max-width: 90%;
  }



  .chatFormDiv {
    flex-direction: column;
    padding-top: 10px;
  }

  .chatForm button {
    width: initial;
  }

  textarea {
    width: 90%;
    margin-left: 10px;
  }

  footer {
    font-size: 0.8rem;
  }

  .settingsPage, .alert, .introduction {
    width: 90%;
    font-size: 0.8rem;
  }

  .gif {
    width: calc(100%/2 - 20px);
  }
}
