.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.recentMessages {
  border: solid rgb(22, 0, 102) 4px;
  width: 50%;
  height: 60vh;
  background-color: lightblue;
}

textarea {
  width: 50%;
  border: solid 4px rgb(22, 0, 102);
  
}
